@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Prata&family=Solway:wght@300;400;500;700;800&display=swap");
@import "tailwindcss";

@theme {
  --font-prata: "Prata", serif;
  --font-plus-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-solway: "Solway", serif;
  --text-7xl: 4.8125rem; /* 77px */
  --text-6xl: 3.375rem; /* 54px */
  --text-4oxl: 2.5rem; /* 40px */
  --text-3xl: 1.75rem; /* 28px */
  --color-background: oklch(0.9603 0.008 98.88); /*#F3F2EC*/
  --color-background-dashboard: oklch(0.9862 0.0142 84.58); /*#fffaf0*/
  --color-primary: oklch(0.252 0 0); /* #222222 */
  --color-primary-light: oklch(0.252 0 0 / 40%); /* #222222 40% opacity */
  --color-primary-very-light: oklch(0.252 0 0 / 20%); /* #222222 20% opacity */
  --color-secondary: oklch(0.5795 0 0); /* #7a7a7a */
  --color-secondary-alt: oklch(0.9397 0.0096 93.57); /* #edebe4 */
  --color-tertiary: oklch(0.6939 0.0106 17.41); /* #a39a9a */
  --color-accent: oklch(0.5068 0.0748 92.78); /* #74642F */
  --color-accent-dark: oklch(0.311 0.0424 92.69); /* #383016 */
  --color-accent-very-light: oklch(
    0.5068 0.0748 92.78 / 8%
  ); /* #74642F 8% opacity */
  --color-neutral: oklch(0.2776 0.0341 255.81); /* #1D2939 */
  --color-neutral-light: oklch(0.3695 0.0381 260.5); /* #344054 */
  --color-neutral-very-light: oklch(0.7098 0.0273 261.12); /* #98A2B3 */
  --color-info: oklch(0.3185 0.0176 18.11); /* #3B2F2F */
  --color-primary-border: oklch(0.9067 0 0); /* #E0E0E0 */
  --color-secondary-border: oklch(0.8078 0 0); /* #C0C0C0; */
  --color-tertiary-border: oklch(0.873 0 0); /* #D5D5D5 */
  --shadow-dashboard: 0px 0px 14px 0px #00000040;
}

@custom-variant child-all {
  & > * {
    @slot;
  }
}

body {
  background-color: var(--color-background);
}

.home li,
.home p,
.home button {
  font-family: var(--font-plus-jakarta);
}

.vertical-text {
  writing-mode: sideways-lr;
  letter-spacing: 1px;
  text-align: right;
}
.vertical-text-alt {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.embla-vertical {
  max-width: 100px;
  --slide-height: 29rem;
  --slide-spacing: 1rem;
  --slide-size: 33%;
}
.embla__viewport-vertical {
  height: calc(var(--slide-spacing) + var(--slide-height) + 2rem);
  overflow: hidden;
}
.embla__container-vertical {
  display: flex;
  touch-action: pan-x pinch-zoom;
  height: calc(var(--slide-spacing) + var(--slide-height));
  flex-direction: column;
  gap: var(--slide-spacing);
}
.embla__slide-vertical {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-height: 0;
}

.embla__controls {
  width: max-content;
  margin-inline: auto;
}
.embla__buttons {
  width: max-content;
  margin-inline: auto;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}

.is-selected {
  border: 1px solid var(--color-accent);
}

.embla-horizontal {
  --slide-height: 22rem;
  --slide-spacing: 1rem;
  --slide-size: 25%;
}
.embla__viewport-horizontal {
  height: calc(var(--slide-spacing) + var(--slide-height) + 2rem);
  overflow: hidden;
}
.embla__container-horizontal {
  display: flex;
  touch-action: pan-x pinch-zoom;
  height: calc(var(--slide-spacing) + var(--slide-height));
  flex-direction: row;
  gap: var(--slide-spacing);
  padding-inline: 0.625rem;
}
.embla__slide-horizontal {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-height: 0;
  background-color: white;
  padding-left: var(--slide-spacing);
  padding-right: var(--slide-spacing);
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.clip-path {
  clip-path: polygon(0 0, 92% 0, 100% 50%, 92% 100%, 0 100%, 9% 46%);
}
